/**
 * CSS3 social icon hover effect
 * Read more on my blog: http://webbb.be/blog/
 */


 i,i:visited { color: #fff; }
 i:hover { color: #fff; }

.social {
	float: left;
	/*margin: 2em 2em; */
	max-width:80% ;
	width: 80px;
	height: 80px;
	display: block; text-align: center; 
	line-height:70px;
	 color: #fff;
	
	position: relative;
	transform:rotateY(0deg);
	transition:transform .25s ease-out;
	transform-style:preserve-3d;
}
.social > div {
	width: 97px;
	 height: 72px;
	 background: #000;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
.social >.front {
	transform:translateZ(40px);
}
.social >.back {
	background: #3B5998;
	font-size: 2.7em;
	transform:rotateY(-100deg) translateZ(40px);
}

/*  Social Media Colors 
	Facebook #3B5998
	Flickr #FE0883
	Foursquare #8FD400
	Google+ #C63D2D
	Instagram #4E433C
	Linkedin #4875B4
	Tumblr #2B4964
	Twitter #33CCFF
	Vimeo #86B32D
	Youtube #FF3333
	Dribbble #ea4c89
*/
.social >.back { background: #00a5a1; }
.social.social-skype > .back { background: #00a5a1; }
.social.social-linkedin > .back { background: #00a5a1; }


/* Hover */
.social:hover {
	transform: rotateY(100deg);
}
#lang-switch ul{
	list-style-type: none;
	padding: 0;

}
#lang-switch ul li{
	display:inline-block;
}
#lang-switch ul li a:hover{
	text-decoration: none;
	color: #ffffff;
}
#lang-switch{
	float: left;
	text-decoration: none;
	text-align: center;
}
.pull-center{
	width: 40%;
	text-align: center;
	margin: 0 auto;
}
.pull-center ul{
	margin-bottom: 0px;
}
.pull-right {
	margin-right: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.pull-center {
		width: 20%;
	}
}
@media (max-width: 768px){
	.pull-center {
		line-height: 4em;
	}
	.pull-right {
		width: 100%;
		text-align: center;
	}
	.social {
		float: none;
		display: inline-block;
	}
}
