body{
	background:#424348;
	color:#fff;
	font-family: "RobotoSlab Light", Open Sans, sans-serif;
}
.page-carier,
.page-carier h2{
	color: #fff;
}
.page-carier article{
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
.shadow {
	-webkit-box-shadow: inset 5px -9px 150px 20px rgba(0,0,0,0.77);
	-moz-box-shadow: inset 5px -9px 150px 20px rgba(0,0,0,0.77);
	box-shadow: inset 5px -9px 150px 20px rgba(0,0,0,0.77);
}
button.button-mobile {
	display: none;
}
a.logo-integer {
	display: block;
	margin-bottom: -35px;
}
h2, p, a, span{color:#fff;}
 i,i:visited { color: #fff; }
 i:hover { color: #fff; }

.page-carier .video-text{
	 margin-right: 15px;
	 padding-right: 15px;
	 padding-left: 0;
	 margin-left: 0;
 }
.remove-padding{
	padding-left:0;
}
.add-padding-right{
	padding-right: 0;
	padding-left: 20px;
}
 .rec_grid a:hover {
	 text-decoration: none;
 }

.social {
	float: left;
	/*margin: 2em 2em; */
	max-width:80% ;
	width: 80px;
	height: 80px;
	display: block; text-align: center; 
	line-height:70px;
	color: #fff;
	position: relative;
	transform:rotateY(0deg);
	transition:transform .25s ease-out;
	transform-style:preserve-3d;
}
.social > div {
	width: 97px;
	 height: 72px;
	 background: #000;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
.social >.front {
	transform:translateZ(40px);
}
.social >.back {
	background: #3B5998;
	font-size: 2.7em;
	transform:rotateY(-100deg) translateZ(40px);
}
.page-carier .col-md-6 p, ul{
	font-size: 0.79em;
}
.page-carier .col-md-6 strong{
	color: #00a5a1;
	font-size:1.7em;
}

/*  Social Media Colors 
	Facebook #3B5998
	Flickr #FE0883
	Foursquare #8FD400
	Google+ #C63D2D
	Instagram #4E433C
	Linkedin #4875B4
	Tumblr #2B4964
	Twitter #33CCFF
	Vimeo #86B32D
	Youtube #FF3333
	Dribbble #ea4c89
*/

.social >.back { background: #00a5a1; }
.social.social-skype > .back { background: #00a5a1; }
.social.social-linkedin > .back { background: #00a5a1; }

.social:hover {
	transform: rotateY(100deg);
}
#lang-switch ul{
	list-style-type: none;
	padding: 0;
}
#lang-switch ul li{
	display:inline-block;
	border-right: 1px solid #fff;
	padding-right: 3px;
	line-height: 1em;
}
#lang-switch ul li a:hover{
	text-decoration: none;
	color: #ffffff;
}
#lang-switch li:last-child {
	border-right: none;
}
#lang-switch{
	float: left;
	text-decoration: none;
	text-align: center;
}
.pull-center{
	width: 40%;
	text-align: center;
	margin: 0 auto;
}
.pull-center ul{
	margin-bottom: 0px;
}
.pull-right {
	margin-right: 20px;
}
.rec_img{
	width: 200px;
	height: 200px;
	margin: 30px auto;
}

/*.rec_img{overflow: hidden;}*/
/*.rec_grid img {*/
	/*max-width: none;*/
	/*-webkit-transition: opacity 1s, -webkit-transform 1s;*/
	/*transition: opacity 1s, transform 1s;*/
	/*-webkit-backface-visibility: hidden;*/
	/*backface-visibility: hidden;*/
/*}*/
.rec:hover{
	color:#67beb6;
	text-decoration: none;
	text-align: none;
}
.rec{
	padding: 0 7px;
}
/*.rec_grid img:hover {*/
	/*opacity: 0.4;*/
	/*-webkit-transform: scale3d(1.1, 1.1, 1);*/
	/*transform: scale3d(1.1, 1.1, 1);*/
/*}*/
.pos-div{
	/*background-color: #a5a6aa;*/
	background:url('../img/pos-div.jpg');
	margin:18px;
	width: 30%;
	height: 85px;
	color:#fff;
}
.pos-div {
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.pos-div:before,
.pos-div:after {
	content:"";
	position:absolute;
	z-index:-1;
	/*-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);*/
	/*-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);*/
	/*box-shadow:0 0 20px rgba(0,0,0,0.8);*/
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.page-carier .pos-div{
	height: 85px;
	line-height: 85px;
}
.pos-div:after {
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}
.pos-div img{
	vertical-align: top;
	float: right;
}
.pos-div h3{
	display: inline-block;
	max-width: 70%;
	vertical-align: middle;
	color:#fff;
	margin: 0;
}
.pos-div:hover{
	background:#67beb6 ;
}
.career-pos-color:hover{
	background-color:#67beb6 ;
}
.video-career{
	margin: 5px 0 30px 0;
}
.page-carier h2{
	/*margin: 50px 0 30px 0;*/
}
.job-icon{
	float:right;
	font-size: 3em;
}
section.row.recruiters {
	margin-bottom: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.pull-center {
		width: 20%;
	}
}
@media (max-width: 992px){
	.media-row{
		margin: 0;
	}
	.pos-div{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.pos-div h3 {
		font-size: 1.3em;
	}
	.video-text  .col-md-8{
		display: none;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.pos-div{
		width: 29%;
		/*45%*/
	}
}

@media (max-width: 480px) {
	.navbar-header {
		display: none;
	}
	.navbar-mobile{
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 50px;
		top: 0;
		position: fixed;
		left: 0;

	}
	button.button-mobile {
		display: block!important;
		background: none;
		border: none;
	}
	button.button-mobile {
		margin-left: 50px;
		border-bottom: 8px double #00A5A1;
		border-top: 3px solid #00A5A1;
		content: "";
		height: 5px;
		width: 25px;
		margin-top: 20px;
		position: fixed;
		z-index: 2;
	}
	button.button-mobile:hover {
		opacity: 0.7;
	}
	.head-menu {
		width: 100%;
		text-align: center;
	}
	.navbar-nav {
		 margin: 0px;
		/*width: 100%;*/
		left:0;
		right: 0;
		background: #050B0E;
		position: fixed;
		height: 100%;
	}
	.logo-head ul {
		margin-top: -0.5%;
		padding-top: 40px;
	}
	.collapse > .logo-head > ul{
		left: -100%;
	}
	.collapse {
		display: block!important;
	}
	.pos-div h3{font-size: .97em;}
}
@media (max-width: 768px){
	.pull-center {
		line-height: 4em;
	}
	.pull-right {
		/*width: 100%;*/
		text-align: center;
	}
	.social {
		float: none;
		display: inline-block;
	}
	.collapse {
		 display: none;
	 }
	.navbar-header {
		margin-right: 15px;
		background: rgba(0, 0, 0, 0.6);
	}
	.logo-head.container {
		background-color: #0A5757;
	}

	.navbar-inverse .navbar-nav > li > a:hover{
		color: #A6BBBA;
		background-color: #0A5757;
	}
	.col-md-6 .video-career{
		display: none;
	}
}
